@tailwind base;
@tailwind components;
@tailwind utilities;

.josefin-sans-font {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.text-shadow {
  text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.8);
}

.text-shadow-none {
  text-shadow: none;
}

.scale-up-on-hover {
  transition: transform 0.2s;
}

.scale-up-on-hover:hover {
  transform: scale(1.05);
}